<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/navbar_link') %>
</head>
<body>

    <!-- Navbar -->
    <%- include('partials/navbar') %>
    
    <!-- Hero Section -->
    <section class="hero" id="hero">
        <img src="/img/web_dev4.jpg" alt="">
    </section>
    

    <%- include('partials/footer_link') %>
</body>
</html>