*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
    font-weight: bold;
    font-style: italic;
}

.hero img{
    width: 100%;
    height: 90vh;
}

.register_form{
    width: 350px;
    margin: 50px auto;
}

.login_form {
    width: 350px;
    margin: 50px auto;
}